section
{
  font-weight: light;
  color: #3b3939; 
}

.header-section
{
  margin: 10rem 10rem 4rem 10rem;
  display: flex;
}

.header-section img
{
  filter: drop-shadow(.4rem .4rem 3rem #3b3939);
  margin-left:10rem;
}


.text-container
{
  padding-top: 7rem;
}


.text-container button {
  display: block;
  margin-top: 1.5rem;
  padding: 1rem 2rem;
  color: #fff;
  background-color: #5f2ac2;
  text-decoration: none;
  border:none;
  border-radius: .3rem;
  font-size: 1.3rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.text-container button:hover {
  background-color: #4810b8;
}

.about-section
{
  text-align: center;
}

.about-section h2
{
  border-bottom: .1rem solid #3b3939;
  width: 90%;
  margin: 0 auto;
  padding-bottom: .2rem;
}


.container
{
  display: flex;
  margin-top:3rem;
  
}

.info-container
{
  text-align: left;
  display: inline;
  color: #F6F6F6;
  padding: .5rem 1rem;
  border-radius: 1rem;
  background-color: #5f2ac2;
  margin: 0 5rem
}

.info-container ul
{
  padding: 0;
  margin-left:1rem;
  padding-right: 3rem;
}