* 
{
  font-family: "Manrope", sans-serif;
}

body, form
{
  margin: 0 0 0 0;
  background-color: #EEEEEE;
}


nav
{
  display: flex;
}


.horizontal-nav
{
  padding: 1.3rem 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


.logo
{
  text-decoration: none;
  color:#EEEEEE;
  margin-left: 5rem;
}



form input, .horizontal-nav a
{
  font-size: 1.5rem;
}


form
{
  display: flex;
  align-items: center;
  border-radius: 2rem;
  padding: .4rem 1rem .4rem 2rem;
}

form input, form button
{
  border: none;
  background: transparent;
}

form input
{
  outline: none;
  color: #8b8888;
}

form input::placeholder
{
  color: #8b8888;
}



.profile-picture
{
  margin-right: 5rem;
}

.vertical-nav, .horizontal-nav
{
  background-color: #5f2ac2;
  margin: 0 0 0 0;
}

.vertical-nav
{
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 3.8rem 5rem;
}

.vertical-nav a, .vertical-nav button
{
  font-size: 1.4rem;
}

.vertical-nav a, .vertical-nav button
{
  color: #EEEEEE;
}

.vertical-nav a 
{
  text-decoration: none;
  
}

.vertical-nav .chosen-option
{
  color: #9f9ea0;
}

.vertical-nav button
{
  background-color: transparent;
  border: .1rem solid #EEEEEE;
  border-radius: .4rem;
  padding: .6rem 1.5rem;
  cursor: pointer;
  transition: opacity .2s;
}


.vertical-nav button:hover
{
  opacity: 0.7;
  
}

.container
{
  display: flex;
}